.card-vinilo{
    background-color: black;
    opacity: .6;
    cursor: pointer;
    transition: all ease .4s;
}

.card-vinilo:hover{
    background-color: unset;
    opacity: 1;
}

#tabDetalle .nav-link{
    color:white;
}

#tabDetalle .nav-link.active{
    background-color: black;
    color: white;
}